
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  line-height: 1.5;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  background-color: #050608;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #050608;
}

#root {
  width: 100%;
  max-width: 100%;
  min-width: 0;
  margin: 0;
}


a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
